.weather-display {
  width: 100%;
  animation: fadeIn 0.6s ease-out;
}

.weather-main {
  text-align: center;
  margin-bottom: 32px;
}

.weather-icon-large {
  margin-bottom: 16px;
}

.weather-icon-large i {
  font-size: 100px;
  color: white;
}

.weather-location h1 {
  font-size: 36px;
  color: white;
  margin: 16px 0;
  font-weight: 700;
}

.weather-temp h2 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin: 8px 0;
}

.weather-description p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: capitalize;
  margin: 0;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}


.visibility-card {
  grid-column: span 10;
}

.wind-card {
  grid-column: span 10;
  padding-left: 10px;
  color: blue;
}

@media (max-width: 640px) {
  .weather-icon-large i {
    font-size: 80px;
  }
  
  .weather-location h1 {
    font-size: 28px;
  }
  
  .weather-temp h2 {
    font-size: 48px;
  }
  
  .weather-description p {
    font-size: 18px;
  }
  
  .weather-details {
    grid-template-columns: 1fr;
  }
}